## Definición de la Target
*Your task is to predict whether a passenger was transported to an alternate dimension during the Spaceship Titanic's collision with the spacetime anomaly*

In [168]:
ruta_abs = r'./data/train.csv'

## Librerías
En la celda abajo indicada se mostrarám todas las librerías empleadas durante el proceso.

In [169]:
import pandas as pd
import numpy as np

In [170]:
df = pd.read_csv(ruta_abs)

In [171]:
print(15*"-","Columnas del DataFrame de train:",15*"-")
col_names = df.columns
print(col_names)

print(15*"-","Chequeo duplicados:",15*"-")
print(df.duplicated().any())


print(15*"-","Número total de nulos:",15*"-")
df.isna().sum()

--------------- Columnas del DataFrame de train: ---------------
Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')
--------------- Chequeo duplicados: ---------------
False
--------------- Número total de nulos: ---------------

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

De aqui se pueden obtener diferentes conclusiones, como se observa la fuente de datos no presenta ningún duplicado, sin embargo en cuanto a nulos se necesita una evaluación más exhaustiva, dado que la muesttra con la que se cuenta es solo de ocho mil IDs.

## Evaluacion de Nulos

In [172]:
def eval_Nan(df,col_eval,col_based):
    print(15*"-","{} NANs:".format(col_eval),15*"-")
    print(len(df[col_eval].unique()))
    print(df[col_eval].unique())
    print(df.groupby([col_eval],as_index=False).count().sort_values(["PassengerId"],ascending=False)[[col_eval,col_based]])
    df.loc[df[col_eval].isna()==True].count()

In [173]:
col = col_names.to_list().copy()
col.remove("PassengerId")

for i in col:
    eval_Nan(df,i,"PassengerId")

--------------- HomePlanet NANs: ---------------
4
['Europa' 'Earth' 'Mars' nan]
  HomePlanet  PassengerId
0      Earth         4602
1     Europa         2131
2       Mars         1759
--------------- CryoSleep NANs: ---------------
3
[False True nan]
   CryoSleep  PassengerId
0      False         5439
1       True         3037
--------------- Cabin NANs: ---------------
6561
['B/0/P' 'F/0/S' 'A/0/S' ... 'G/1499/S' 'G/1500/S' 'E/608/S']
         Cabin  PassengerId
6156   G/734/S            8
764     C/21/P            7
5092  G/1368/P            7
571     B/82/S            7
6527   G/981/S            7
...        ...          ...
2553  F/1245/P            1
2552  F/1244/S            1
2551  F/1243/S            1
2550  F/1243/P            1
6559     T/3/P            1

[6560 rows x 2 columns]
--------------- Destination NANs: ---------------
4
['TRAPPIST-1e' 'PSO J318.5-22' '55 Cancri e' nan]
     Destination  PassengerId
2    TRAPPIST-1e         5915
0    55 Cancri e         1800
1  PSO J318.5-22          796
--------------- Age NANs: ---------------
81
[39. 24. 58. 33. 16. 44. 26. 28. 35. 14. 34. 45. 32. 48. 31. 27.  0.  1.
 49. 29. 10.  7. 21. 62. 15. 43. 47.  2. 20. 23. 30. 17. 55.  4. 19. 56.
 nan 25. 38. 36. 22. 18. 42. 37. 13.  8. 40.  3. 54.  9.  6. 64. 67. 61.
 50. 41. 57. 11. 52. 51. 46. 60. 63. 59.  5. 79. 68. 74. 12. 53. 65. 71.
 75. 70. 76. 78. 73. 66. 69. 72. 77.]
     Age  PassengerId
24  24.0          324
18  18.0          320
21  21.0          311
19  19.0          293
23  23.0          292
..   ...          ...
75  75.0            4
78  78.0            3
79  79.0            3
76  76.0            2
77  77.0            2

[80 rows x 2 columns]
--------------- VIP NANs: ---------------
3
[False True nan]
     VIP  PassengerId
0  False         8291
1   True          199
--------------- RoomService NANs: ---------------
1274
[   0.  109.   43. ... 1569. 8586.  745.]
      RoomService  PassengerId
0             0.0         5577
1             1.0          117
2             2.0           79
3             3.0           61
4             4.0           47
...           ...          ...
713         902.0            1
714         903.0            1
715         906.0            1
717         909.0            1
1272      14327.0            1

[1273 rows x 2 columns]
--------------- FoodCourt NANs: ---------------
1508
[   0.    9. 3576. ... 3208. 6819. 4688.]
      FoodCourt  PassengerId
0           0.0         5456
1           1.0          116
2           2.0           75
3           3.0           53
4           4.0           53
...         ...          ...
823      1314.0            1
824      1319.0            1
825      1320.0            1
826      1327.0            1
1506    29813.0            1

[1507 rows x 2 columns]
--------------- ShoppingMall NANs: ---------------
1116
[   0.   25.  371. ... 1085.  510. 1872.]
      ShoppingMall  PassengerId
0              0.0         5587
1              1.0          153
2              2.0           80
3              3.0           59
4              4.0           45
...            ...          ...
613          741.0            1
614          742.0            1
617          745.0            1
618          746.0            1
1114       23492.0            1

[1115 rows x 2 columns]
--------------- Spa NANs: ---------------
1328
[   0.  549. 6715. ... 2868. 1107. 1643.]
          Spa  PassengerId
0         0.0         5324
1         1.0          146
2         2.0          105
3         3.0           53
5         5.0           53
...       ...          ...
751    1012.0            1
752    1013.0            1
755    1019.0            1
758    1027.0            1
1326  22408.0            1

[1327 rows x 2 columns]
--------------- VRDeck NANs: ---------------
1307
[   0.   44.   49. ... 1164.  971. 3235.]
       VRDeck  PassengerId
0         0.0         5495
1         1.0          139
2         2.0           70
3         3.0           56
5         5.0           51
...       ...          ...
723     952.0            1
724     954.0            1
725     956.0            1
726     957.0            1
1305  24133.0            1

[1306 rows x 2 columns]
--------------- Name NANs: ---------------
8474
['Maham Ofracculy' 'Juanna Vines' 'Altark Susent' ... 'Fayey Connon'
 'Celeon Hontichre' 'Propsh Hontichre']
                    Name  PassengerId
4642        Keitha Josey            2
4492   Juane Popelazquez            2
2590  Elaney Webstephrey            2
675            Apix Wala            2
3387    Glenna Valezaley            2
...                  ...          ...
2823        Eriey Bartez            1
2822      Erie Woodwinez            1
2821       Erie Sextones            1
2820         Erie Rilley            1
8472    Zubeneb Pasharne            1

[8473 rows x 2 columns]
--------------- Transported NANs: ---------------
2
[False  True]
   Transported  PassengerId
1         True         4378
0        False         4315

To DOs
    1. Mirar los registros donde los CryoSleep son True para ver si han realizado algún tipo de gasto extra.
    2. Evaluar aquellos registros donde los nombre de los viajeros son iguales, ¿han realizado varios viajes?

In [174]:
df.loc[(df["RoomService"].isna()==True) & (df["CryoSleep"]==True),["RoomService"]]

      RoomService
25            NaN
83            NaN
233           NaN
400           NaN
889           NaN
...           ...
8312          NaN
8361          NaN
8380          NaN
8412          NaN
8450          NaN

[68 rows x 1 columns]

In [179]:
bill_Amount = ["RoomService","FoodCourt","ShoppingMall","Spa","VRDeck"]

for i in bill_Amount:
    df.loc[(df["CryoSleep"]==True) & df[i].isna()==True]=0